body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
h1{
  color: orangered;
}
.button{
  padding: .5rem;
  color: white;
  background-color: gray;
  border-radius: .2rem;
  text-decoration: none;
}
.button:hover{
  text-decoration: underline;
}
iframe{
  width: 70vw;
}
@media screen and (max-width: 420px) {
    body{
        font-size: 4vw;
    }
}
/* scrollbar */
/* width */
::-webkit-scrollbar{
    width: 1vw;
  }
  /* Track */
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 7px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }