@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    background-color: brown;
    color: aliceblue;
}
.particular{
    font-weight: 100;
}
@media screen and (max-width: 420px) {
    body{
        font-size: 3vw;
    }
}
/* scrollbar */
/* width */
::-webkit-scrollbar{
    width: 1vw;
  }
  /* Track */
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 7px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }