@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --color-1: #1d1b1c;
    --color-2: #5b5558;
    --color-3: #ada4b1;
    --color-4: #cacad5;
    --color-5: #e9edea;
}

body{
    background-color: var(--color-5);
}

/*===menu===*/
.lo_afectado{
    position: fixed;
    width: 100%;
    background-color: var(--color-4);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-row: auto auto;
}
/*BOTON-HAMBURGUESA*/
.boton_on_off{
    width: 38px;
    height: 38px;
    margin: 7px;
    align-self: center;

    display: none;
    align-items: center;
    cursor: pointer;
}
.boton_on_off::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: var(--color-5);
    transform: translateY(-12px);
    transition: 500ms;
}
.boton_on_off::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: var(--color-5);
    transform: translateY(12px);
    transition: 500ms;
    box-shadow: 0 -12px var(--color-5);
}
.lo_afectado.active .boton_on_off::before{
    transform: translateY(0) rotate(45deg);
}
.lo_afectado.active .boton_on_off::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 var(--color-5);
}
/*El Resto*/
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    grid-column: 2;
}
.head h2{
    font-size: 1.4rem;
}
.logo{
    height: 52px;
    margin: .5rem;
    filter: invert(100%) sepia(23%) saturate(1130%) hue-rotate(26deg) brightness(113%) contrast(107%);
}
.nav_list{
    
    margin: 1rem;
    place-self: center;
    list-style: none;
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lo_afectado.active .nav_list{
    width: calc(var(--minv) - 2rem);
    display: flex;}
.nav_link{
    color: var(--color-5);
    text-decoration: none;
    padding: .3rem;
    font-size: 1.5rem;
}
.nav_link:hover{
    color: var(--color-3);
    font-size: 1.4rem;
}

@media screen and (max-width: 1244px) {
    .nav_list{
        flex-direction: column;
        display: none;
    }
    .boton_on_off{
        display: flex;
    }
}

@media screen and (max-width: 420px) {
    :root{
        font-size: 3vw;
    }

    .boton_on_off{
        width: 3rem;
        height: 3rem;
    }
    .boton_on_off::before{
        width: 2rem;
        height: 2px;
        transform: translateY(-.6rem);
    }
    .boton_on_off::after{
        width: 2rem;
        height: 2px;
        transform: translateY(.6rem);
        box-shadow: 0 -.6rem var(--color-5);
    }
}
/* scrollbar */
/* width */
::-webkit-scrollbar{
    width: 1vw;
  }
  /* Track */
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 7px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }