@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --color-1: #1d1b1c;
    --color-2: #5b5558;
    --color-3: #ada4b1;
    --color-4: #cacad5;
    --color-5: #e9edea;
}

body{
    background-color: var(--color-5);
}

@media screen and (max-width: 420px) {
    body{
        font-size: 4vw;
    }
}